.project-card-container {
    padding: 20px;
    width: 100%;
    height: 500px;
    max-width: 370px;
    border-radius: 12px;
    margin: 15px;
    position: relative;
    background: linear-gradient(135deg, #f5f5f5, #ffffff);
    border: 1px solid #e0e0e0; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    font-weight: 500; 
  }
  .project-card-container:hover{
      transform: translateY(-5px);
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
  .project-card-image {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .project-card-image:hover {
    transform: scale(1.05); 
  }
  
  .project-card-descritpion {
    font-size: 18px; 
    padding: 2px 15px;
    border-radius: 8px;
    margin: 2px auto;
    text-align: center;
    color: #666;
  }
  
  .project-card-technologies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 15px;
  }
  
  .project-card-technologies {
    padding: 6px 12px;
    border-radius: 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    background-color: #f1f1f1; 
    color: #333; 
  }
  .auth-links{
    display: block;

  }
  .auth-links-github{
    padding: 10px 0;
    margin: 10px;
  }
  .project-card-date {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #1baada;
    padding: 6px 11px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
  }
  
  
  @media (max-width: 500px) {
    .project-card-container {
      max-width: 95%;
      height: 500px;
      margin: 10px auto;
    }
  
    .project-card-image {
      height: 150px;
    }
  
    .project-card-description {
      font-size: 15px;
    }
  
    .project-card-technologies span {
      font-size: 12px;
      padding: 4px 8px;
      width: 100%;
    }
  
    .project-card-live-demo,
    .project-card-github-link {
      width: 100% ;
      margin: 5px auto;
      text-align: center;
      font-size: 13px;
      padding: 9px 0;

    }
  
    .project-card-date {
      font-size: 12px;
      padding: 4px 8px;
    }
  }
  
  