.project-conatiner{
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: #B2EBF2; 
}
@media screen and (max-width : 500px){
    .project-conatiner{
        background-color: #E0F7FA; 
    }
}