.contact-container {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-top: 10px;
  background: linear-gradient(135deg, #e0e0e0, #ffffff);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-image {
  display: block;
  text-align: center;
  width: 60%;
  margin-left:40px ;
  transition: transform 0.3s;
}

.contact-image:hover {
  transform: scale(1.05);
}

.auth-input-container {
  width: 55%;
  margin: 15px 20px;
  padding: 15px 10px;
  border-radius: 12px;
  font-weight: 500;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.input-box {
  cursor: pointer;
  display: block;
  width: 70%;
  margin: 12px auto;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.textarea-box {
  cursor: pointer;
  width: 70%;
  height: 120px;
  display: block;
  margin: 12px auto;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.textarea-box:focus,
.input-box:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.2);
}

.contact-btn {
  padding: 10px 40px;
  border-radius: 8px;
  display: block;
  margin: 15px auto;
  width: 60%;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.contact-btn:hover {
  background-color: #0056b3;
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.4);
  color: white;
}

.contact-description {
  font-size: 24px;
  font-weight: 500;
  color: #333;
 text-align: center;
 margin-bottom: 10px;
}

.contact-heading {
  font-size: 40px;
  color: #004D40;
}

@media screen and (max-width: 500px) {
  .contact-container {
    width: 97%;
    display: block;
  }
  
  .contact-image {
    width: 80%;
    display: block;
    margin: 15px auto;
  }
  
  .auth-input-container {
    width: 90%;
    font-size: 14px;
    margin: 15px auto;
    padding: 10px 15px;
    border-radius: 10px;
  }
  
  .input-box {
    width: 100%;
    padding: 10px;
  }
  
  .textarea-box {
    width: 100%;
    height: 100px;
  }
  
  .contact-btn {
    width: 90%;
    padding: 10px 0;
  }

  .contact-heading {
    font-size: 28px;
  }

  .contact-description {
    font-size: 20px;
  }
}
