@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E0F7FA;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;

  padding: 20px;
  margin: 0;
}

h1, h2 {
  text-align: center;
  margin-top: 20px;
}


.button {
  background-color: #008CBA; /* Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s; /* Smooth transition */
}

.button:hover {
  background-color: #005f73; /* Darker blue on hover */
}
